@model IEnumerable<Currency>


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Currency Manager</title>
</head>
<body>
    <div class="container">
        <h1>Currencies</h1>

        @if (Model.Any())
        {
            <a class="btn btn-primary" asp-controller="Admin" asp-action="AddCurrency"> Add a new currency</a>

            foreach (var item in Model)
            {
                <div class="card mb-3">
                    <div class="card-header">
                        Currency Name: @item.CurrencyName
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"> Rate: @item.Rate</h5>
                    </div>

                    <div class="card-footer">
                        <form asp-action="DeleteCurrency" asp-route-id="@item.CurrencyId" method="post">
                            <a asp-action="EditCurrency" asp-controller="Admin" asp-route-id="@item.CurrencyId" class="btn btn-primary">Edit</a>
                            <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete the currency: @item.CurrencyName')">Delete</button>
                        </form>

                    </div>
                </div>

            }

        }
        else
        {
            <div class="card">
                <div class="header">
                    No Users Created Yet!!
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        Use the button below to create a new user
                    </h5>
                    <a class="btn btn-primary" asp-controller="Account" asp-action="Register">Add a New User</a>

                </div>
            </div>
        }
    </div>
</body>
</html>
