@model COHApp.ViewModels.ListUsersViewModel

@{
    Layout = "~/Views/Shared/_SearchBarLayout.cshtml";
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListUsers</title>
</head>
<body>
    <div id="main">
        <div id="wrapper">
            <div class="inner">
                <header class="major">
                    <h1>@ViewBag.Role</h1>
                </header>
                @if (Model.Users.Any())
                {
                    <a class="btn btn-primary" asp-controller="Account" asp-action="Register"> Add a new user</a>
                    <a asp-action="ListRoles" asp-controller="Admin" class="btn btn-primary">Manage User Roles</a>

                    <div class="dropdown-menu">
                        @if (Model.Roles.Any())
                        {
                            @foreach (var role in Model.Roles)
                            {
                                <a asp-controller="Admin" asp-action="ListUsers" asp-route-role="@role.Name"> @role.Name</a>
                            }

                            <a asp-controller="Admin" asp-action="ListUsers" >All Users</a>


                        }

                    </div>

                    foreach (var user in Model.Users)
                    {
                        <div class="table-wrapper">
                            <table>
                                <tbody>
                                    <tr>
                                        <th>User: </th>
                                        <th>@user.Id</th>
                                    </tr>

                                    <tr>
                                        <td>Username: </td>
                                        <td> @user.UserName</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="actions">
                            <form asp-action="DeleteUser" asp-route-id="@user.Id" method="post">
                                <a asp-action="ManageUser" asp-controller="Admin" asp-route-id="@user.Id" class="btn button">Manage User</a>
                                <button type="submit" class="btn button special" onclick="return confirm('Are you sure you want to delete the user: @user.UserName')">Delete</button>
                            </form>
                        </div>
                    }
                }
                else
                {
                    <div class="card">
                        <div class="header">
                            No such users
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">
                                Use the button below to create a new user
                            </h5>
                            <a class="btn button" asp-controller="Admin" asp-action="ListUsers">All Users</a>

                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</body>
</html>
