@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> signInManager
@inject Microsoft.AspNetCore.Identity.UserManager<ApplicationUser> UserManager

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script type="module" src="~/dist/site.entry.js" defer></script>
    <link rel="stylesheet" href="~/dist/site.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro">
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>

        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-action="ListUsers" asp-controller="Admin">User Management</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-action="ListCurrencies" asp-controller="Admin">Currency Management</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-action="List" asp-controller="unitItem">Inventory Management</a>
                        </li>

                    }

                    @if (signInManager.IsSignedIn(User) && User.IsInRole("User"))
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-action="MyApplications" asp-controller="VendorApplication" asp-route-applicantId="@UserManager.GetUserId(User)">My Applications </a>
                        </li>

                    }

                    @if (signInManager.IsSignedIn(User) && User.IsInRole("Employee"))
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-action="ListApplications" asp-controller="VendorApplication">Vendor Applications<span id="orderCount" class="badge badge-danger badge-pill"></span></a>

                        </li>

                    }
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Index" asp-controller="Contact">Contact</a>
                    </li>
                </ul>
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Welcome @UserManager.GetUserName(User)</a>
                @await Component.InvokeAsync("CheckoutSummary")
                @await Html.PartialAsync("LoginPartial")
            </div>
        </nav>
    </header>
    <div>
        @RenderBody()
    </div>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/site.js"></script>

    <script>
        //an immediately invoked function that checks to see if the text is in local storage already
        (function () {
            //if the text is in local storage, set the html
            if (localStorage.orderCount > 0) {
                console.log(localStorage.orderCount);
                document.getElementById('orderCount').innerHTML = localStorage.getItem("orderCount");
            }
        })();
    </script>

    @if (IsSectionDefined("Scripts"))
    {
        @RenderSection("Scripts", required: true)
    }
</body>
</html>