@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> signInManager
@inject BataCMS.Data.Interfaces.ICurrencyRepository currency
@model unitItem


<div class="col-md-4">
    <div class="card mb-4 shadow-sm">
        <img class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" src="@Model.ImageUrl" alt="" preserveAspectRatio="xMidYMid slice" focusable="false" />
        <div class="card-body">
            <p class="card-text">@Model.Name</p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a id="cartButton" asp-controller="Checkout" asp-action="AddToCheckout" asp-route-itemId="@Model.unitItemId" type="button" class="btn btn-sm btn-outline-secondary">Add to Cart</a>
                    @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-controller="unitItem" asp-route-id="@Model.unitItemId" type="button" class="btn btn-sm btn-outline-secondary">Edit</a>
                    }
                </div>
                <small class="text-muted">@currency.GetCurrentCurrency().CurrencyName @Math.Round((Model.Price * currency.GetCurrentCurrency().Rate), 2)</small>
            </div>
        </div>
    </div>
</div>