@model BataCMS.Data.Models.RentalAsset

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>View Asset</title>
</head>
<body>
    <div id="main">
        <div id="wrapper">
            <div class="inner">
                <div class="6u 12u$(medium)">
                    <span class="image fit"><img src="@Model.ImageUrl" alt="" /></span>
                    @foreach (var item in Model.Images)
                    {
                        <span class="image fit"><img src="@item.ImageUrl" alt="@item.ImageName" /></span>
                    }
                </div>

                <div class="col-md-6 product_content">
                    <h4>@Model.Name</h4>

                    <h4>@Model.Location</h4>

                    <div class="btn-ground">
                        <a asp-action="MakeBooking" asp-controller="Lease" asp-route-rentalAssetId="@Model.RentalAssetId"  type="button" class="button" id="addToCartBtn">Make a Booking</a>
                    </div>
                    @if (User.IsInRole("Employee"))
                    {
                        <div class="btn-ground">
                            <a asp-action="Edit" asp-controller="RentalAsset" asp-route-id="@Model.RentalAssetId" type="button" class="btn btn-outline-primary">Edit</a>
                        </div>

                    }
                    <p>@Model.Description</p>
                    <h3 class="cost"><span class="glyphicon glyphicon-usd"></span>@Model.Price</h3>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<style>
</style>

<script src="~/lib/jquery/jquery.js"></script>
<script src="~/lib/jquery/jquery-ui.min.js"></script>



