@inject BataCMS.Data.Interfaces.ICurrencyRepository currency
@model BataCMS.ViewModels.CheckoutViewModel

    <body class="bg-light">
        <div class="container">
            <h2>Your shopping cart</h2>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Selected amount</th>
                        <th>Items</th>
                        <th class="text-right">Price</th>
                        <th class="text-right">Subtotal</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var line in Model.Checkout.CheckoutItems)
                    {
                        <tr>

                            <td class="text-center">
                                <a class="glyphicon glyphicon-remove text-danger remove" asp-controller="Checkout" asp-action="RemoveFromCheckout" asp-route-unitItemId="@line.RentalAsset.RentalAssetId"><i class="fas fa-minus" aria-hidden="true"></i></a>
                                &nbsp @line.Amount	&nbsp
                                <a class="glyphicon glyphicon-remove text-success add" asp-controller="Checkout" asp-action="AddToCheckout" asp-route-itemId="@line.RentalAsset.RentalAssetId"><i class="fas fa-plus" aria-hidden="true"></i></a>
                            </td>
                            <td class="text-left">@line.RentalAsset.Name</td>
                            <td class="text-right">@Math.Round((line.RentalAsset.Price * currency.GetCurrentCurrency().Rate), 2)</td>
                            <td class="text-right">
                                @((line.Amount * Math.Round((line.RentalAsset.Price * currency.GetCurrentCurrency().Rate), 2)))
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3" class="text-right">Total:</td>
                        <td class="text-right">
                            @currency.GetCurrentCurrency().CurrencyName  @Math.Round(Model.CheckoutTotal, 2)
                    </tr>
                </tfoot>
            </table>

            <div class="text-right">
                <div class="btn-group ">
                    <a class="btn btn-success" asp-controller="Purchase" asp-action="Checkout">Check out</a>
                    <a class="btn btn-outline-success" asp-controller="unitItem" asp-action="List">Add More </a>
                </div>
            </div>
        </div>
    </body>
