@model PurchaseDetailViewModel

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PurchaseDetail</title>
</head>

<body>
    <div class="container">
        <h2>The Purchases Made</h2>
        <br />
        <h3>Purchase No: @Model.PurchaseId</h3>
        <br />
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Selected amount</th>
                    <th>Items</th>
                    <th class="text-right">Price</th>
                    <th class="text-right">Subtotal</th>
                    <th class="text-right">Order Options</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var line in Model.PurchasedItems)
                {
                <tr>
                    <td class="text-center">@line.PurchaseAmount</td>
                    <td class="text-left">@line.ItemName</td>
                    <td class="text-right">@Model.Currency.CurrencyName @Math.Round((line.Price * Model.Currency.Rate), 2)</td>
                    <td class="text-right">
                        @Model.Currency.CurrencyName @(Math.Round((line.PurchaseAmount * (line.Price * Model.Currency.Rate)),2))
                    </td>

                    @foreach (var item in line.purchaseSelectedOptions)
                    {
                        <td class="text-right">@item.LabelName : @item.SelectedValueName</td>
                    }

                </tr>
                }
            </tbody>
        </table>
    </div>
    @if (Model.Purchase.isDelivered == false)
    {
        <form method="post" asp-action="ConfirmDelivery" asp-route-purchaseId="@Model.Purchase.PurchaseId">
            <button class="btn btn btn-secondary order-button ">Confirm Delivery</button>
        </form>

    }
    <div class="card mb-3">
        <div class="card-header">Purchase Date</div>
        <div class="card-body">
            <h5 class="card-title">@Model.Purchase.PurchaseDate</h5>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-header">Server Name</div>
        <div class="card-body">
            <h5 class="card-title">@Model.Purchase.ServerName</h5>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-header">Purchase Payment Method</div>
        <div class="card-body">
            <h5 class="card-title">@Model.PaymentMethod.PaymentMethodName</h5>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-header">Table Number</div>
        <div class="card-body">
            <h5 class="card-title">@Model.Purchase.DeliveryLocation</h5>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-header">Order Notes</div>
        <div class="card-body">
            <h5 class="card-title">@Model.Purchase.PurchaseNotes</h5>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-header">Purchase Total</div>
        <div class="card-body">
            <h5 class="card-title">@Model.Currency.CurrencyName  @Model.Purchase.PurchasesTotal</h5>
        </div>
    </div>
</body>
</html>





